@import url('https://fonts.googleapis.com/css?family=Audiowide|Geostar+Fill|Londrina+Outline|Press+Start+2P|VT323');

.map {
  width: 50vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
  border:solid black 1px;
  border-radius: 10px;
  margin-left: 25px;
}

.infoWindowInformation {
  font-family: 'Press Start 2P', cursive;
}

.map {
  max-height: 30vh;
}

.mapResultsContainer{
  max-height: 30vh;
}
