@import url('https://fonts.googleapis.com/css?family=Audiowide|Geostar+Fill|Londrina+Outline|Press+Start+2P|VT323');

.searchWaitingText {
  font-family: 'Press Start 2P', cursive;
  height: 50px;
  max-height: 100px;
  padding: 20px;
  overflow: hidden;
  text-shadow: 1px 1px 3px gray, 0 0 1rem blue, 0 0 .4em red;
  color: white;
}

.searchReturn {
  margin: 25px;
}

.searchButton, .inputText{
  font-family: 'Press Start 2P', cursive;
  box-shadow: 1px 1px 3px gray, 0 0 1rem blue, 0 0 .4em red;
  font-size: 14px;
}

.searchButton {
  margin: 25px;
  border-top: 1px solid red;
  background: blue;
  background: gradient(linear, left top, left bottom, from(red));
  background: linear-gradient(top, blue, red);
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  vertical-align: middle;
}

.searchButton:hover {
  border-top-color: #0510e6;
  background: #0510e6;
  color: #ff0004;
}

.searchButton:active {
  border-top-color: #1b1e5c;
  background: #1b1e5c;
}


